@model CategoryProduct

@{
    ViewData["Title"] = "Chi tiết";
}

<h1>Chi tiết danh mục sản phẩm</h1>

<div>
    <h4>Danh mục sản phẩm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Tên danh mục</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">Ngày tạo</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateAt)
        </dd>
        <dt class = "col-sm-2">Ngày cập nhật</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Sửa</a> |
    <a asp-action="Index">Quay lại</a>
</div>
