@if (User.Identity!.IsAuthenticated)
{
    <div class="btn-group">
        <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">Admin</button>
        <ul class="dropdown-menu wrap-none">
            <li><a class="nav-link text-dark" asp-area="Products" asp-controller="CateProducts" asp-action="Index">Danh mục sản phẩm</a></li>
            <li><a class="nav-link text-dark" asp-area="Products" asp-controller="Products" asp-action="Index">Sản phẩm</a></li>
            <li><a class="nav-link text-dark" asp-area="Admins" asp-controller="Users" asp-action="Index">Tài khoản</a></li>
            <li><a class="nav-link text-dark" asp-area="Admins" asp-controller="Customers" asp-action="Index">Khách hàng</a></li>
            <li><a class="nav-link text-dark" asp-area="Admins" asp-controller="Roles" asp-action="Index">Quyền hạn</a></li>
            <li><a class="nav-link text-dark" asp-area="Bills" asp-controller="Bills" asp-action="Index">Hóa đơn</a></li>
            <li><a class="nav-link text-dark" asp-area="Bills" asp-controller="Debts" asp-action="Index">Công nợ</a></li>
            <li><a class="nav-link text-dark" asp-area="Warehouses" asp-controller="Warehouses" asp-action="Index">Kho hàng</a></li>
        </ul>
    </div>
}
