html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.wrap-none {
    white-space: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
}

.tooltips:hover .tooltip-text {
    visibility: inherit;
}

.suggestions {
    width: 300px;
    top: 50px;
    max-height: 400px;
    overflow-y: auto;
    display: none;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f1f1f1;
}