html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.wrap-none {
    white-space: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
}

.tooltips:hover .tooltip-text {
    visibility: inherit;
}